<!doctype html>
<html>
    <head>
        <meta charset="tf-8">
        <title>{{ page.title }}</title>
        <link rel="stylesheet" href={{ "/assets/css/styles.css" | prepend: site.baseurl }}>
    </head>
    <body>
        {% include navigation.html github=page.github%}
        <h1 id="projectTitle">{{ page.name }}</h1>
        <div id="content">
            {{ content }}
            <hr>
            <h2 id="title">Gallery</h2>
            {% include project_images.html %}
            <hr>
            <h2 id="title">Video</h2>
            {{ page.video }}
        </div></div>
    </body>
    <script>
    </script>
</html>